name: Wiremock NPM

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 10
          registry-url: https://registry.npmjs.org/
      - run: ./release-automate.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
